/* ------------General styles--------- */

html {
  box-sizing: border-box;
}

body {
  background-color: #f4f5f6;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* ------------Header--------- */
.red {
  background-color: red;
}

.float-c {
  transform: translate(-50%, 0);
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  padding: 10px 0;
}

.container-inline {
  float: right;
}

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid .container {
  max-width: 1310px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 992px) {
  .page-footer::before {
    left: -30px;
    right: -30px;
  }
}

@media screen and (min-width: 768px) {
  .flex-sm {
    display: flex;
  }
}

.jc-sb {
  justify-content: space-between;
}

.ai-fe {
  align-items: flex-end;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 15px;
    line-height: 20px;
  }
}

.page-footer .copyright {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: rgb(102, 102, 102);
  margin-bottom: 12px;
}

.page-footer .social {
  color: rgb(102, 102, 102);
  margin-bottom: 12px;
}

.flex-xs {
  display: -webkit-flex;
  display: flex;
}

li {
  display: list-item;
}

.page-footer .brand svg {
  display: block;
  width: 236px;
  height: 36px;
  margin-right: 15px;
  margin-bottom: 12px;
  fill: rgb(247, 34, 16);
}

a {
  text-decoration: none;
  color: black;
}

.page-nav {
  border-width: 50px;
  border-right: salmon solid 2px;
}

ul > .nav li > .nav-item > a {
  border: salmon solid 2px;
}

@media (min-width: 1050px) {
  .page-header .pelcro-subscribe-button {
    margin-right: 14px;
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .page-header .pelcro-login-button .page-header .pelcro-subscribe-button {
    font-size: 18px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.page-header .pelcro-subscribe-button {
  background-color: #ffe400;
  color: black;
  border-radius: 24px;
  display: flex;
  align-items: center;
}

.page-header .pelcro-login-button .page-header .pelcro-subscribe-button {
  font: bold 13px/24px "Roboto Condensed", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 24px;
}

@media (min-width: 768px) {
  .page-header .pelcro-subscribe-button::after {
    margin-left: 5px;
    width: 6px;
    height: 6px;
    border-top-width: 2px;
    border-right-width: 2px;
  }
}

.page-header .pelcro-subscribe-button::after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  width: 4px;
  height: 4px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 1px;
  border-top-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
}

@media screen and (min-width: 992px) {
  .page-header .float-c svg {
    fill: white;
  }
}

.page-header .float-c svg {
  fill: white;
  display: block;
  width: 132px;
  height: 20px;
}

@media screen and (min-width: 992px) {
  .page-header .brand svg {
    width: 396px;
    height: 60px;
    margin: 10px auto 0;
  }
}

@media screen and (min-width: 992px) {
  .page-header .header-bottom {
    padding-right: 160px;
  }
}

.header-bottom {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  z-index: 1;
}

.page-header .header-bottom {
  background-color: white;
  border-bottom-color: #f4f5f6;
}

@media screen and (min-width: 992px) {
  .header-bottom {
    position: relative;
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .page-header .header-bottom::before {
    width: 66px;
  }
}

@media screen and (min-width: 992px) {
  .page-header .header-bottom::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 22px;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
  }
}

.page-header .header-bottom::-webkit-scrollbar {
  width: 0;
  height: 0;
}
